html {
    background-color: #181a1b;
    color: #d8d4cf;
}

a:visited {
    color: #419ffc;
}

html::selection {
    color: #e8e6e3;
}

.container {
    display: flex;
    align-items: center;
    overflow: auto;
    justify-content: space-between;
    max-width: 100%;
}

.box pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.box code {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.box {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    position: relative;

    max-width: 48%;
}

.small {
    max-width: 15px;
    font-size: xx-large;
}

.sticky-div {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-style: solid;
    border-bottom-color: #383636;
    border-bottom-width: 2px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 10;
    width: 100%;
    z-index: 1000;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #383636;
    border-bottom-width: 2px;
}

code {
    background-color: #171819;
    color: aquamarine;
}

button {
    margin-top: 10px;
    padding: 1.3em 3em;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}

button.selected {
    background-color: #23c483;
    color: #fff;
}
